<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>PizzaBoys:pizzaDetails</title>
</head>
<body>
<main>
    <div class="card bg-light" style="width: 18rem;" th:object="${pizza}">
        <img class="card-img-top img-fluid"
             th:src="*{picture_url}"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" th:text="*{name}"></h5>
            <p class="card-text" th:text="*{description}"></p>
            <p class="card-text" th:text="*{price + '$'}"></p>
            <div class="row gy-2">
                <div>
                    <a th:href="@{/home/pizzaList}" class="btn btn-primary col-12">Ritorna al menu'</a>
                </div>
                <div>
                    <a th:href="@{/home/pizzaList/edit/{name}(name=${pizza.name})}" class="btn btn-primary col-12">Modifica
                        pizza</a>
                </div>
                <form th:action="@{/home/pizzaList/delete/{name}(name=${pizza.name})}"
                      method="post" onsubmit="return confirm('Sei sicuro di voler eliminare la pizza')">
                    <button class="btn btn-primary col-12" type="submit">
                        Elimina la pizza
                    </button>
                </form>
                <div>
                    <a th:href="@{/home/offerta/create/{name}(name=${pizza.name})}" class="btn btn-primary col-12">Aggiungi
                        offerta</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</main>

</body>
</html>